body{
  margin: 0;
  width: 100%;
  max-width: 100%;
  font-family: 'Roboto' sans-serif;
  height: 100%;
}

html{
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.dflex{
  display: flex;
}

.container{
  width: 970px;
  margin: 0 auto;
}


@media screen and (max-width: 991px){
  .container{
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
  }
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #000;
}

ul{
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.owl-theme .owl-nav.disabled + .owl-dots{
  position: absolute;
  width: 100%;
  bottom: 8px;
  .owl-dot{
    outline: none;
    cursor: pointer;
    span{
      width: 8px;
      height: 8px;
      background-color: rgba(255, 255, 255, 0.7);
      margin: 5px 4px;
    }
  }
  .active{
    span{
      background-color: #ffffff;
    }
  }
}


.submit{
  outline: none;
  border-radius: 27px;
  background-color: #FB765F;
  color: #fff;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}




