<template>
 <transition name="page" mode="out-in">
  <div v-if="isShow" class="form-wrp">
    <div class="close-mob">
      <button @click="consoleForm">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </button>
    </div>
    <div class="form-title">
      <h2>Бесшовная пересадка волос методом FUE</h2>
    </div>
    <div class="order-list">
      <span class="line"></span>
      <p>Медицинская процедура</p>
      <span class="line"></span>
      <p>Послеоперационный осмотр</p>
      <span class="line"></span>
      <p>Проживание + Транспорт</p>
      <span class="line"></span>
    </div>
    <div class="total">
      <span>Итого</span>
      <p>$3400</p>
    </div>
    <form class="form">
      <div class="email">
        <span>Электронная почта</span>
        <input @focus="focusInput" v-bind:class="{errorinput: emailError}" v-model="email" type="email" placeholder="example@email.com">
      </div>
      <transition name="fade">
        <div v-if="emailError" class="error">
          Введите вашу электронную пошту
        </div>
      </transition>
      <transition name="fade">
        <div v-if="incorrectEmail" class="error">
          Введите правильный электронный адрес
        </div>
      </transition>
      <div class="check">
        <div class="radio">
          <input @change="chackChange" v-model="check" id="radio-1" name="radio" type="checkbox">
          <label for="radio-1" class="radio-label">
           <p>
              Я соглашаюсь с <a href="javascript:void(0)">Условиями пользования</a> и принимаю 
              <a href="javascript:void(0)">Политику конфиденциальности</a>
           </p>
          </label>
        </div>
      </div>
      <transition name="fade">
        <div v-if="checkError" class="error">
          Подтвердите, что вы прочитали условия и согласны с ними
        </div>
      </transition>
      <button @click="submit" class="submit">
        Связаться с клиникой
      </button>
    </form>
  </div>
 </transition>
</template>

<script>
export default {
  name: 'Form',
  data() {
    return {
      isShow: null,
      email: '',
      emailError: false,
      incorrectEmail: false,
      checkError: false,
      check: false,
      windowWidth: 0,
    }
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener('resize', this.getWindowWidth);
      this.getWindowWidth()
    })
  },
  methods: {
    getWindowWidth(event) {
      this.windowWidth = document.documentElement.clientWidth;
      if(this.windowWidth<768){
        this.isShow = false
      }else{
        this.isShow = true
      }
    },
    openForm: function () {
      this.isShow = true
    },
    consoleForm: function () {
      this.isShow = false
    },
    focusInput: function () {
      if(this.emailError == true){
        this.emailError = false
      }
      if(this.incorrectEmail == true){
        this.incorrectEmail = false
      }
    },
    chackChange: function () {
      if(this.checkError == true){
        this.checkError = false
      }
    },
    submit: function (e) {
      function validateEmail(email) {
          var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
      }
      e.preventDefault();
      let error = false
      if(this.email == ''){
        error = true
        this.emailError = true
      }
      if(this.check == false){
        error = true
        this.checkError = true
      }else{
        if (!validateEmail(this.email)) {
          error = true
          this.incorrectEmail = true
        }
      }
      if(error == false){
        alert(`Email: ${this.email}`)
        this.email = ''
        this.check = false
      }
    }
  }
}
</script>

<style lang="scss">
.form-wrp{
  padding: 32px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  position: absolute;
  top: -160px;
  .close-mob{
    display: none;
  }
  .line{
    width: 100%;
    height: 1px;
    background-color: #DADCE0;
    display: block;
  }
  .form-title{
    margin-bottom: 16px;
    h2{
      font-size: 19px;
      line-height: 27px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.87);
    }
  }
  .order-list{
    p{
      font-size: 16px;
      line-height: 23px;
      color: rgba(0, 0, 0, 0.87);
      padding: 8px 0;
    }
  }
  .total{
    margin-top: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    span{
      font-size: 16px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.87);
    }
    p{
      font-size: 19px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.87);
    }
  }
  .form{
    margin-top: 35px;
    .email{
      span{
        display: block;
        color: rgba(0, 0, 0, 0.87);
        font-size: 16px;
        line-height: 23px;
      }
      input{
        outline: none;
        padding: 16px;
        font-size: 19px;
        border: 1px solid rgba(0, 0, 0, 0.38);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
      }
      .errorinput{
        border: 1px solid #DD2C00;
      }
    }
    .check{
        margin-top: 16px;
        .radio {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            min-height: 40px;
            height: auto;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        .radio input[type="checkbox"] {
            position: absolute;
            opacity: 0;
        }
        .radio label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 0;
            padding: 0;
            width: 100%;
            font-size: 13px;
            color: rgba(0, 0, 0, 0.6);
        }
        .radio label p a {
            color: rgba(0, 0, 0, 0.6);
            text-decoration: underline;
        }
        .radio input[type="checkbox"]+.radio-label:before {
            content: '';
            background: #fff;
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.38);
            display: inline-block;
            width: 18px;
            height: 18px;
            min-width: 18px;
            position: relative;
            top: -0;
            margin-right: 1em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            -webkit-transition: all 250ms ease;
            transition: all 250ms ease;
        }
        .radio input[type="checkbox"]:checked+.radio-label:before {
            background-color: rgba(0, 0, 0, 0.38);
            -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
                    box-shadow: inset 0 0 0 4px #f4f4f4;
            top: 0;
        }
        .radio input[type="checkbox"]:focus+.radio-label:before {
            outline: none;
            border-color: rgba(0, 0, 0, 0.38);
        }
        .radio input[type="checkbox"]:disabled+.radio-label:before {
            -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
                    box-shadow: inset 0 0 0 4px #f4f4f4;
            border-color: #b4b4b4;
            background: #fff;
        }
        .radio input[type="checkbox"]+.radio-label:empty:before {
            margin-right: 0;
        }
    }
    .submit{
      margin-top: 30px;
      width: 100%;
    }
  }
}

.error{
  font-size: 13px;
  color: #DD2C00;
  line-height: 15px;
}
.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


@media screen and (max-width: 768px){
  .page-enter-active, .page-leave-active {
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
 .form-wrp{
   .close-mob{
    display: block;
    margin-bottom: 43px;
    button{
      background: none;
      border: none;
      outline: none;
      padding: 0;
      cursor: pointer;
      svg{
        width: 18px;
        height: 18px;
      }
    }
  }
 }
}
</style>
