<template>
  <div class="photos-wrp">
    <div class="desctop-photos">
      <div class="dflex">
        <div class="general-photo">
          <img src="../assets/image/img1.png" alt="Медицинский центр Анадолу">
        </div>
        <div class="oather-photos">
          <div class="photo">
            <img src="../assets/image/img2.png" alt="Медицинский центр Анадолу">
          </div>
           <div class="photo">
            <img src="../assets/image/img3.png" alt="Медицинский центр Анадолу">
          </div>
           <div class="photo">
            <img src="../assets/image/img4.png" alt="Медицинский центр Анадолу">
          </div>
           <div class="photo">
            <img src="../assets/image/img5.png" alt="Медицинский центр Анадолу">
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-carousel">
      <carousel :nav="false" :responsive="{0:{items:1},425:{items:2}}">
        <div class="mobile-carousel-img">
          <img src="../assets/image/img1.png" alt="Медицинский центр Анадолу">
        </div>
        <div class="mobile-carousel-img">
          <img src="../assets/image/img2.png" alt="Медицинский центр Анадолу">
        </div>
        <div class="mobile-carousel-img">
          <img src="../assets/image/img3.png" alt="Медицинский центр Анадолу">
        </div>
        <div class="mobile-carousel-img">
          <img src="../assets/image/img4.png" alt="Медицинский центр Анадолу">
        </div>
        <div class="mobile-carousel-img">
          <img src="../assets/image/img5.png" alt="Медицинский центр Анадолу">
        </div>
      </carousel>
    </div>
  </div>
</template>

<script>
import carousel from 'vue-owl-carousel'
export default {
  name: 'Photo',
  components: { carousel },
}
</script>

<style scoped lang="scss">
.photos-wrp{
  width: 100%;
  .desctop-photos{
    width: 100%;
    .dflex{
      .general-photo{
        width: 55%;
        height: 511px;
        img{
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      .oather-photos{
        width: 45%;
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        .photo{
          width: 50%;
          height: 256px;
          img{
            width: 100%;
            object-fit: cover;
            height: 100%;
          }
        }
      }
    }
  }
  .mobile-carousel{
    display: none;
  }
}

@media screen and (max-width: 1200px){
  .photos-wrp{
    .desctop-photos{
       .dflex{
         .general-photo{
            height: 400px;
          }
          .oather-photos{
            .photo{
              height: 200px;
            }
          }
       }
    }
  }
}

@media screen and (max-width: 991px){
  .photos-wrp{
    .desctop-photos{
       .dflex{
         .general-photo{
            height: 350px;
          }
          .oather-photos{
            .photo{
              height: 175px;
            }
          }
       }
    }
  }
}

@media screen and (max-width: 768px){
.photos-wrp{
    .desctop-photos{
      display: none;
    }
    .mobile-carousel{
      display: block;
      position: relative;
      .mobile-carousel-img{
        height: 250px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 425px){
.photos-wrp{
    .mobile-carousel{
      .mobile-carousel-img{
        height: 204px;
      }
    }
  }
}
</style>
