<template>
  <div id="app">
    <Photo />
    <section class="info-wrp">
      <div class="container">
        <div class="info-section">
          <div class="title">
            <span>Израиль, Тель-Авив</span>
            <h1>Медицинский центр Анадолу</h1>
          </div>
          <div class="about-centre">
            <div class="about-item">
              <div class="img">
                <img src="./assets/image/about/about1.png" alt="Joint Commission International">
              </div>
              <div class="info">
                <div class="info-title">
                  <h2>JCI</h2>
                </div>
                <div class="info-subtitle">
                  <h3>Joint Commission International</h3>
                </div>
              </div>
            </div>
            <div class="about-item">
              <div class="img">
                <img src="./assets/image/about/about1.png" alt="Joint Commission International">
              </div>
              <div class="info">
                <div class="info-title">
                  <h2>JCI</h2>
                </div>
                <div class="info-subtitle">
                  <h3>Joint Commission International</h3>
                </div>
              </div>
            </div>
            <div class="about-item">
              <div class="img">
                <img src="./assets/image/about/about2.png" alt="European Society for Medical Oncology">
              </div>
              <div class="info">
                <div class="info-title">
                  <h2>ESMO</h2>
                </div>
                <div class="info-subtitle">
                  <h3>European Society for Medical Oncology</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="about-centre-cout">
            <div class="count-item">
              <p>2 000</p>
              <span>сотрудников</span>
            </div>
            <div class="count-item">
              <p>23 500</p>
              <span>операций в год</span>
            </div>
            <div class="count-item">
              <p>400</p>
              <span>докторов</span>
            </div>
            <div class="count-item">
              <p>658</p>
              <span>коек</span>
            </div>
          </div>
          <div class="quote">
            <div class="bracket">
              <img src="./assets/image/about/bracket.png" alt="Риккардо Розати - Доктор в Медицинском центре Анадолу">
            </div>
            <div class="text">
              <p>
                Если тебе тяжело, значит ты поднимаешься в гору. Тебе легко, значит ты летишь в пропасть. 
                Если драгоценный камень попадает в грязь, он остается драгоценностью. Если пыль подымается к небу, она остается пылью.
              </p>
            </div>
            <div class="author">
              <div class="authot-info">
                <p>Риккардо Розати</p>
                <span>Доктор в Медицинском центре Анадолу</span>
              </div>
              <div class="author-photo">
                <img src="./assets/image/about/author.png" alt="Риккардо Розати - Доктор в Медицинском центре Анадолу">
              </div>
            </div>
          </div>
        </div>
        <div class="contact-form">
          <Form ref="form"/>
        </div>
      </div>
    </section>
    <div class="mobile-open-form">
      <button @click="openForm" class="submit">Связаться с клиникой</button>
    </div>
  </div>
</template>

<script>
import Photo from './components/Photo.vue'
import Form from './components/Form.vue'
export default {
  name: 'app',
  components: {
    Photo,
    Form
  },
  methods: {
    openForm: function () {
      var form = this.$refs.form;
      form.openForm();
    }
  }
}
</script>

<style lang="scss">
@import './assets/scss/main.scss';
#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 40px;
  .mobile-open-form{
    display: none;
  }
}

.info-wrp{
  margin-top: 56px;
  .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .info-section{
      width: 60%;
      .title{
        span{
          color: rgba(0, 0, 0, 0.87);
          font-size: 16px;
          line-height: 19px;
          font-weight: 400;
        }
        h1{
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;
          color: rgba(0, 0, 0, 0.87);
        }
      }
      .about-centre{
        margin-top: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        .about-item{
          width: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 16px;
          .img{
            width: 48px;
            min-width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #F5F5F5;
            border: 1px solid #C4C4C4;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-right: 9px;
            img{
              max-width: 36px;
              max-height: 36px;
            }
          }
          .info{
            .info-title{
              h2{
                font-size: 16px;
                color: rgba(0, 0, 0, 0.87);
                font-weight: 700;
                line-height: 19px;
              }
            }
            .info-subtitle{
              h3{
                color: rgba(0, 0, 0, 0.6);
                font-size: 13px;
                line-height: 17px;
              }
            }
          }
        }
      }
      .about-centre-cout{
        margin-top: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .count-item{
          padding: 12px 16px;
          border: 1px solid #C4C4C4;
          border-radius: 8px;
          margin-right: 8px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          p{
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: rgba(0, 0, 0, 0.87);
          }
          span{
            color: rgba(0, 0, 0, 0.87);
            font-size: 13px;
            line-height: 15px;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .quote{
        margin-top: 32px;
        .bracket{
          margin-bottom: 12px;
        }
        .text{
          p{
            font-size: 16px;
            line-height: 23px;
            color: rgba(0, 0, 0, 0.87);
          }
        }
        .author{
          margin-top: 16px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          .author-photo{
            width: 48px;
            min-width: 48px;
            height: 48px;
            margin-left: 25px;
            border: 1px solid rgba(0, 0, 0, 0.04);
            border-radius: 50%;
          }
          .authot-info{
            p{
              font-size: 16px;
              line-height: 19px;
              font-weight: 700;
              color: rgba(0, 0, 0, 0.87);
            }
            span{
              font-size: 13px;
              line-height: 18px;
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }
      }
    }
    .contact-form{
      width: 40%;
      position: relative;
      padding-left: 50px;
    }
  }
}

@media screen and (max-width: 768px){
  .info-wrp{
    margin-top: 16px;
    .container{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
     .info-section{
       width: 100%;
       .about-centre{
        .about-item{
          width: 100%;
        }
       }
       .about-centre-cout{
         display: none;
       }
       .quote{
         margin-bottom: 15px;
       }
     }
     .contact-form{
       width: 100%;
       padding-left: 0;
       .form-wrp{
          background: #ffffff;
          position: fixed;
          z-index: 100;
          left: 0;
          width: 100%;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          top: 0;
          height: calc(100vh + 40px);
          -webkit-box-shadow: none;
                  box-shadow: none;
          border-radius: 0;
          padding: 20px;
       }
     }
    }
  }
  #app{
    padding-bottom: 88px;
    position: relative;
    .mobile-open-form{
      display: block;
      position: fixed;
      background: #fff;
      z-index: 10;
      bottom: -1px;
      width: 100%;
      height: 88px;
      padding: 0 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      .submit{
        width: 100%;
      }
    }
  }
}
</style>
